*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent1{
    height: 60px;
    width: 1570px;
}

#parent1>ul{
    display: flex;
    justify-content: start;
    list-style: none;
    position: absolute;
    left: 150px;
    top: 25px;
    font-size: larger;
    font-family: monospace;
    font-weight: bold;
    color: rgb(107, 114, 120);

}

#l1{
}
#l2{
    position: absolute;
    left: 100px;
}
#l3{
    position: absolute;
    left: 200px;
}
#l4{
    position: absolute;
    left: 330px;
    color: black;
}
#img1{
    height: 25px;
    width: 25px;
    position: absolute;
    left: 10px;
    top: 24px;
}
#p1{
    position: absolute;
    left: 35px;
    top: 23px;
    color: rgb(64, 67, 70);
    font-size: large;

}

a{
    color: rgb(107, 114, 120);
    text-decoration: none;
}
a:hover{
    color: black;
}
#search{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 25px;
    left: 1370px;
}
#voice{
    height:25px;
    width: 25px;
    position: absolute;
    top: 25px;
    left: 1420px;
}
#acc{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 23px;
    left: 1470px;
    border: 2px solid black;
    border-radius: 50%;
}
#box1{
    height: 30px;
    width: 100px;
    border: 1px solid rgb(107, 114, 120);;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    left: 80px;
    background-color: rgb(190, 196, 197);
}
#box7{
    height: 30px;
    width: 100px;
    border: 1px solid rgb(107, 114, 120);;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    left: 220px;
}
#box3{
    height: 30px;
    width: 80px;
    border: 1px solid rgb(107, 114, 120);;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    left: 360px;
}
#box4{
    height: 30px;
    width: 70px;
    border: 1px solid rgb(107, 114, 120);;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    left: 480px;
}
#box5{
    height: 30px;
    width: 120px;
    border: 1px solid rgb(107, 114, 120);
    border-radius: 20px;
    position: absolute;
    top: 70px;
    left: 590px;
}
#box6{
    height: 30px;
    width: 80px;
    border: 1px solid rgb(107, 114, 120);;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    left:730px;
}
#bp1{
    text-align: center;
    position: absolute;
    top: 5px;
    left: 18px;
    font-size: large;
    color: rgb(116, 116, 233);}
#bp7{
    text-align: center;
    position: absolute;
    top: 5px;
    left: 24px;
    font-size: large;
    color: rgb(107, 114, 120);
}
#bp3{
    text-align: center;
    position: absolute;
    top: 5px;
    left: 14px;
    font-size: large;
    color: rgb(107, 114, 120);
}
#bp4{
    text-align: center;
    position: absolute;
    top: 5px;
    left: 24px;
    font-size: large;
    color: rgb(107, 114, 120);
}
#bp5{
    text-align: center;
    position: absolute;
    top: 4px;
    left: 12px;
    font-size: large;
    color: rgb(107, 114, 120);
}
#bp6{
    text-align: center;
    position: absolute;
    top: 5px;
    left: 12px;
    font-size: large;
    color: rgb(107, 114, 120);
}
.fc{
    position: absolute;
    top: 500px;
    font-size: large;
}
#f1
{
    position: absolute;
    top: 1210px;
    left: 88px;
}
#f2
{
    position: absolute;
    top:1240px;
    left: 88px;
}
#f3
{
    position: absolute;
    top: 1270px;
    left: 88px;
}
#f4
{
    position: absolute;
    top: 1300px;
    left: 88px;
}
#f5
{
    position: absolute;
    top: 1330px;
    left: 88px;
}
#f6
{
    position: absolute;
    top: 1210px;
    left: 260px;
}
#f7
{
    position: absolute;
    top: 1240px;
    left: 260px;
}
#f8
{
    position: absolute;
    top: 1270px;
    left: 260px;
}
.fcs{
    font-family: monospace;
    position: absolute;
    /* top: 960px;
    left:85px; */
}

#ff1{
    position: absolute;
    top: 1410px;
    left: 85px;
}
#ff2{
    position: absolute;
    top: 1410px;
    left: 255px;
}
#ff3{
    position: absolute;
    top: 1410px;
    left: 355px;
}
#ff4{
    position: absolute;
    top: 1410px;
    left: 525px;
}

#ff5{
    position: absolute;
    top: 1410px;
    left: 645px;
    white-space: nowrap;
}
#ff6{
    position: absolute;
    top: 1410px;
    left: 775px;
    width: 200px;
}
#ind{
    height: 24px;
    position: absolute;
    top: 1407px;
    left: 1300px;
}
#ff7{
    width: 200px;
    position: absolute;
    top: 1410px;
    left: 1350px;
}
#foo{
    white-space: nowrap;
    position: absolute;
    top: 1450px;
    left: 665px;
    font-size: medium;
    font-family: monospace;
}
#featured{
    font-size: x-large;
    position: absolute;
    left: 79px;
    top: 145px;
    color: rgb(36, 34, 34);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#bk1{
    height: 350px;
    width: 230px;
    position: absolute;
    top: 230px;
    left: 80px;
    border-radius: 5px;
}
#bk2{
    height: 350px;
    width: 230px;
    border: 1px solid black;
    position: absolute;
    top: 230px;
    left: 380px;
    border-radius: 5px;
}
#bk3{
    height: 350px;
    width: 230px;
    position: absolute;
    top: 230px;
    left: 680px;
    border-radius: 5px;
}
#bk4{
    height: 350px;
    width: 230px;
    position: absolute;
    top: 230px;
    left: 980px;
    border-radius: 5px;
}
#bk5{
    height: 350px;
    width: 230px;
    position: absolute;
    top: 230px;
    left: 1280px;
    border-radius: 5px;
}
#bk6{
    height: 350px;
    width: 230px;
    position: absolute;
    top: 230px;
    left: 1580px;
    border-radius: 5px;
}
#bk1:hover{
    transform: scale(01.05);
}
#bk2:hover{
    transform: scale(01.05);
}
#bk3:hover{
    transform: scale(01.05);
}
#bk4:hover{
    transform: scale(01.05);
}
#bk5:hover{
    transform: scale(01.05);
}
#bk6:hover{
    transform: scale(01.05);
}
.cl{
    width: 228px;
    height: 50px;
    color: rgb(29, 28, 27);
    font-size: medium;
}
#con1{
    position: absolute;
    top: 600px;
    left: 80px;
}
#con2{
    position: absolute;
    top: 600px;
    left: 380px;
}
#con3{
    position: absolute;
    top: 600px;
    left: 680px;
}
#con4{
    position: absolute;
    top: 600px;
    left: 980px;
}
#con5{
    position: absolute;
    top: 600px;
    left: 1280px;
}
#con6{
    position: absolute;
    top: 600px;
    left: 1580px;
}
#featured2{
    font-size: x-large;
    position: absolute;
    left: 79px;
    top: 695px;
    color: rgb(36, 34, 34);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#ic1{
    height: 350px;
    width: 230px;
    position: absolute;
    top: 750px;
    left: 80px;
    border: 1px solid black;
    border-radius: 5px;
}
#ic2{
    height: 350px;
    width: 230px;
    border: 1px solid black;
    position: absolute;
    top: 750px;
    left: 380px;
    border-radius: 5px;
}
#ic3{
    height: 350px;
    width: 230px;
    position: absolute;
    top: 750px;
    left: 680px;
    border-radius: 5px;
}
#ic4{
    height: 350px;
    width: 230px;
    position: absolute;
    top: 750px;
    left: 980px;
    border-radius: 5px;
    border: 1px solid black;
}
#ic5{
    height: 350px;
    width: 230px;
    position: absolute;
    top: 750px;
    left: 1280px;
    border-radius: 5px;
}
#ic6{
    height: 350px;
    width: 230px;
    position: absolute;
    top: 750px;
    left: 1580px;
    border-radius: 5px;
    border: 1px solid black;
}
#ic1:hover{
    transform: scale(01.05);
}
#ic2:hover{
    transform: scale(01.05);
}
#ic3:hover{
    transform: scale(01.05);
}
#ic4:hover{
    transform: scale(01.05);
}
#ic5:hover{
    transform: scale(01.05);
}
#ic6:hover{
    transform: scale(01.05);
}
#cc1{
    position: absolute;
    top: 1120px;
    left: 80px;
}
#cc2{
    position: absolute;
    top: 1120px;
    left: 380px;
}
#cc3{
    position: absolute;
    top: 1120px;
    left: 680px;
}
#cc4{
    position: absolute;
    top: 1120px;
    left: 980px;
}
#cc5{
    position: absolute;
    top: 1120px;
    left: 1280px;
}
#cc6{
    position: absolute;
    top: 1120px;
    left: 1580px;
}