*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent1{
    height: 60px;
    width: 1570px;
}

#parent1>ul{
    display: flex;
    justify-content: start;
    list-style: none;
    position: absolute;
    left: 150px;
    top: 25px;
    font-size: larger;
    font-family: monospace;
    font-weight: bold;
    color: rgb(107, 114, 120);

}

#a1{
    color: black;
}
#l1{
}
#l2{
    position: absolute;
    left: 100px;
}
#l3{
    position: absolute;
    left: 200px;
}
#l4{
    position: absolute;
    left: 330px;
}
#img1{
    height: 25px;
    width: 25px;
    position: absolute;
    left: 10px;
    top: 24px;
}
#p1{
    position: absolute;
    left: 35px;
    top: 23px;
    color: rgb(64, 67, 70);
    font-size: large;

}

a{
    color: rgb(107, 114, 120);
    text-decoration: none;
}
a:hover{
    color: black;
}
#search{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 25px;
    left: 1370px;
}
#voice{
    height:25px;
    width: 25px;
    position: absolute;
    top: 25px;
    left: 1420px;
}
#acc{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 23px;
    left: 1470px;
    border: 2px solid black;
    border-radius: 50%;
}
#box1{
    height: 30px;
    width: 100px;
    border: 1px solid rgb(107, 114, 120);;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    left: 80px;
}
#box2{
    height: 30px;
    width: 100px;
    border: 1px solid rgb(107, 114, 120);;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    left: 220px;
}
#box3{
    height: 30px;
    width: 80px;
    border: 1px solid rgb(107, 114, 120);;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    left: 360px;
}
#box4{
    height: 30px;
    width: 70px;
    border: 1px solid rgb(107, 114, 120);;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    left: 480px;
    background-color: rgb(233, 255, 233);
}
#box5{
    height: 30px;
    width: 120px;
    border: 1px solid rgb(107, 114, 120);
    border-radius: 20px;
    position: absolute;
    top: 70px;
    left: 590px;
}
#box6{
    height: 30px;
    width: 80px;
    border: 1px solid rgb(107, 114, 120);;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    left:730px;
}
#bp1{
    text-align: center;
    position: absolute;
    top: 5px;
    left: 18px;
    font-size: large;
    color: rgb(107, 114, 120);
}
#bp2{
    text-align: center;
    position: absolute;
    top: 5px;
    left: 24px;
    font-size: large;
    color: rgb(107, 114, 120);
}
#bp3{
    text-align: center;
    position: absolute;
    top: 5px;
    left: 18px;
    font-size: large;
    color: rgb(107, 114, 120);
}
#bp4{
    text-align: center;
    position: absolute;
    top: 5px;
    left: 24px;
    font-size: large;
    color: rgb(107, 114, 120);
}
#bp5{
    text-align: center;
    position: absolute;
    top: 4px;
    left: 12px;
    font-size: large;
    color: rgb(107, 114, 120);
}
#bp6{
    text-align: center;
    position: absolute;
    top: 5px;
    left: 12px;
    font-size: large;
    color: rgb(107, 114, 120);
}

#ap1{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 200px;
    left: 75px;
}

.cls{
    width: 120px;
    color: rgb(67, 70, 73);
    font-size: large;
}

#con1{
    position: absolute;
    left: 90px;
    top: 360px;
}

#ap2{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 200px;
    left: 250px;
}
#ap1:hover{
    transform: scale(01.05);
}
#ap1:hover{
    transform: scale(01.05);
}
#ap2:hover{
    transform: scale(01.05);
}
#ap3:hover{
    transform: scale(01.05);
}
#ap4:hover{
    transform: scale(01.05);
}
#ap5:hover{
    transform: scale(01.05);
}
#ap6:hover{
    transform: scale(01.05);
}
#ap7:hover{
    transform: scale(01.05);
}
#ap8:hover{
    transform: scale(01.05);
}
#ap9:hover{
    transform: scale(01.05);
}

#con2{
    position: absolute;
    left: 260px;
    top: 360px;
}
#ap3{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 200px;
    left: 425px;
}

#con3{
    position: absolute;
    left: 440px;
    top: 360px;
}

#ap4{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 200px;
    left: 600px;
}

#ap5{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 200px;
    left: 775px;
}
#ap6{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 200px;
    left: 950px;
}
#ap7{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 200px;
    left: 1125px;
}
#ap8{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 200px;
    left: 1300px;
}
#ap9{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 200px;
    left: 1475px;
}

#featured{
    font-size: x-large;
    position: absolute;
    left: 79px;
    top: 145px;
    color: rgb(36, 34, 34);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#featured2{
    font-size: x-large;
    position: absolute;
    left: 79px;
    top: 435px;
    color: rgb(36, 34, 34);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#con4{
    position: absolute;
    left: 615px;
    top: 360px;
}
#con5{
    position: absolute;
    left: 795px;
    top: 360px;
}
#con6{
    position: absolute;
    left: 970px;
    top: 360px;
}
#con7{
    position: absolute;
    left: 1140px;
    top: 360px;
}
#con8{
    position: absolute;
    left: 1320px;
    top: 360px;
}
#con9{
    position: absolute;
    left: 1495px;
    top: 360px;
}
#ap10:hover{
    transform: scale(01.05);
}
#ap11:hover{
    transform: scale(01.05);
}
#ap12:hover{
    transform: scale(01.05);
}
#ap13:hover{
    transform: scale(01.05);
}
#ap14:hover{
    transform: scale(01.05);
}
#ap15:hover{
    transform: scale(01.05);
}

#ap16:hover{
    transform: scale(01.05);
}
#ap17:hover{
    transform: scale(01.05);
}
#ap18:hover{
    transform: scale(01.05);
}




#ap10{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 495px;
    left: 75px;
}
#ap11{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 495px;
    left: 250px;
}
#ap12{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 495px;
    left: 425px;
    border: 2px solid rgb(222, 214, 199);
}
#ap13{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 495px;
    left: 600px;
}
#ap14{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 495px;
    left: 775px;
}
#ap15{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 495px;
    left: 950px;
}
#ap16{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 495px;
    left: 1125px;
    border: 2px solid rgb(222, 214, 199);
}
#ap17{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 495px;
    left: 1300px;
    border: 2px solid rgb(222, 214, 199);
}
#ap18{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: 495px;
    left: 1475px;
}

#con10{
    position: absolute;
    left: 90px;
    top: 655px;
}
#con11{
    position: absolute;
    left: 260px;
    top: 655px;
}
#con12{
    position: absolute;
    left: 440px;
    top: 655px;
}
#con13{
    position: absolute;
    left: 615px;
    top: 655px;
}
#con14{
    position: absolute;
    left: 795px;
    top: 655px;
}
#con15{
    position: absolute;
    left: 970px;
    top: 655px;
}
#con16{
    position: absolute;
    left: 1140px;
    top: 655px;
}
#con17{
    position: absolute;
    left: 1320px;
    top: 655px;
}
#con18{
    position: absolute;
    left: 1495px;
    top: 655px;
}

.fc{
    font-size: large;
}
#f1
{
    position: absolute;
    top: 750px;
    left: 88px;
}
#f2
{
    position: absolute;
    top: 780px;
    left: 88px;
}
#f3
{
    position: absolute;
    top: 810px;
    left: 88px;
}
#f4
{
    position: absolute;
    top: 840px;
    left: 88px;
}
#f5
{
    position: absolute;
    top: 870px;
    left: 88px;
}
#f6
{
    position: absolute;
    top: 750px;
    left: 260px;
}
#f7
{
    position: absolute;
    top: 780px;
    left: 260px;
}
#f8
{
    position: absolute;
    top: 810px;
    left: 260px;
}
.fcs{
    font-family: monospace;
    position: absolute;
    /* top: 960px;
    left:85px; */
}

#ff1{
    position: absolute;
    top: 960px;
    left: 85px;
}
#ff2{
    position: absolute;
    top: 960px;
    left: 255px;
}
#ff3{
    position: absolute;
    top: 960px;
    left: 355px;
}
#ff4{
    position: absolute;
    top: 960px;
    left: 525px;
}

#ff5{
    position: absolute;
    top: 960px;
    left: 645px;
}
#ff6{
    position: absolute;
    top: 960px;
    left: 775px;
    width: 200px;
}
#ind{
    height: 24px;
    position: absolute;
    top: 957px;
    left: 1300px;
}
#ff7{
    width: 200px;
    position: absolute;
    top: 960px;
    left: 1350px;
}
#foo{
    position: absolute;
    top: 1000px;
    left: 665px;
    font-size: medium;
    font-family: monospace;
}